{% extends 'manufact/base.html' %}
{% load static %}
{% block static %}
        <link rel="stylesheet" href="{% static 'ai/css/alz.css' %}" />
{% endblock %}
        {% block title %}알츠하이머 예측 페이지{% endblock %}
{% block content %}
        <div id="root">
            <a id="page-1" aria-hidden="true" style="visibility: hidden"></a>
            <section
                id="Ren56IcZHoK9WAMi"
                style="
                    position: relative;
                    overflow: hidden;
                    display: grid;
                    align-items: center;
                    grid-template-columns: auto 100rem auto;
                    z-index: 0;
                "
            >
                <div
                    id="ku0blAub4O3LIGc8"
                    style="
                        grid-area: 1 / 1 / 2 / 4;
                        display: grid;
                        position: absolute;
                        min-height: 100%;
                        min-width: 100%;
                    "
                >
                    <div id="fiCLCtsxcbI4weJx" style="z-index: 0">
                        <div
                            id="IU3HXsvZ8XYTBbwu"
                            style="
                                box-sizing: border-box;
                                width: 100%;
                                height: 100%;
                                transform: rotate(0deg);
                            "
                        >
                            <div
                                id="KwTZJQxjTvTEl2Gd"
                                style="width: 100%; height: 100%; opacity: 1"
                            >
                                <div
                                    id="w0wHFamy4q0rG4er"
                                    style="
                                        background-color: #156cad;
                                        opacity: 1;
                                        transform: scale(1, 1);
                                        width: 100%;
                                        height: 100%;
                                        overflow: hidden;
                                        position: relative;
                                    "
                                ></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    id="kfo7mEEeZclcukGX"
                    style="
                        display: grid;
                        position: relative;
                        grid-area: 1 / 2 / 2 / 3;
                    "
                >
                    <div id="yaxrxg9CYbCZjPfi" style="z-index: 9">
                        <div
                            id="uedZYVUYWBSQRIHl"
                            style="
                                box-sizing: border-box;
                                width: 100%;
                                height: 100%;
                                transform: rotate(0deg);
                            "
                        >
                            <div
                                id="X5lqjuBMCHNSlckR"
                                style="
                                    opacity: 1;
                                    display: flex;
                                    box-sizing: border-box;
                                    flex-direction: column;
                                    justify-content: flex-start;
                                    width: 100%;
                                    height: 100%;
                                "
                            >
                                <p
                                    id="sKVPtdPpeMaDTrLs"
                                    style="
                                        color: #ffffff;
                                        font-family: YAEnS2G4JLg-0;
                                        line-height: 1.29167205em;
                                        text-align: center;
                                        text-transform: none;
                                        letter-spacing: 0em;
                                    "
                                >
                                    <span
                                        id="Ow4pRbRD6npphsxD"
                                        style="color: #ffffff"
                                        >뇌 MRI 사진을 등록해주세요.</span
                                    ><br />
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="LpdlzwrKevMiGi3i">
                        <div
                            id="guC4VJ0pxStT3P85"
                            style="
                                display: grid;
                                position: relative;
                                grid-area: 4 / 4 / 5 / 7;
                            "
                        >
                            <div id="WPDM9TevwHXuyKTk" style="z-index: 7">
                                <div
                                    id="nxwaz8WeQGBh88zq"
                                    style="
                                        box-sizing: border-box;
                                        width: 100%;
                                        height: 100%;
                                        transform: rotate(0deg);
                                    "
                                >
                                    <svg
                                        id="FfW69FHWLoUgH27z"
                                        viewBox="0 0 64.0 64.0"
                                        preserveAspectRatio="none"
                                        style="
                                            width: 100%;
                                            height: 100%;
                                            opacity: 1;
                                            overflow: hidden;
                                            position: absolute;
                                            top: 0%;
                                            left: 0%;
                                            background: url('data:image/png;base64,');
                                        "
                                    >
                                        <g
                                            id="oeKkBJsNBhxwMHMu"
                                            style="transform: scale(1, 1)"
                                        >
                                            <path
                                                id="uSHmHAp4anKz1Mck"
                                                d="M32,0 C14.32688808,0 0,14.32688808 0,32 C0,49.67311096 14.32688808,64 32,64 C49.67311096,64 64,49.67311096 64,32 C64,14.32688808 49.67311096,0 32,0 Z"
                                                style="
                                                    fill: #fefefe;
                                                    opacity: 1;
                                                "
                                            ></path>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div id="EkdfTFEvO2kuuSqS" style="z-index: 8">
                                <div
                                    id="WvSMyfa991d8qdXj"
                                    style="
                                        padding-top: 100%;
                                        transform: rotate(0deg);
                                    "
                                >
                                    <div
                                        id="Slz0y7Iv4isjVXiw"
                                        style="
                                            position: absolute;
                                            top: 0px;
                                            left: 0px;
                                            width: 100%;
                                            height: 100%;
                                        "
                                    >
                                        <div
                                            id="rgYj1jsAP28UGvz7"
                                            style="
                                                width: 100%;
                                                height: 100%;
                                                opacity: 1;
                                            "
                                        >
                                            <div
                                                id="sYLPgt3udVApOEt8"
                                                style="
                                                    transform: scale(1, 1);
                                                    width: 100%;
                                                    height: 100%;
                                                    overflow: hidden;
                                                    position: relative;
                                                "
                                            >
                                                <div
                                                    id="ANJlmjEMhOSM9XVm"
                                                    style="
                                                        width: calc(
                                                            100% *
                                                                max(
                                                                    1,
                                                                    var(
                                                                        --scale-fill,
                                                                        1
                                                                    )
                                                                )
                                                        );
                                                        height: calc(
                                                            100% /
                                                                min(
                                                                    1,
                                                                    var(
                                                                        --scale-fill,
                                                                        1
                                                                    )
                                                                )
                                                        );
                                                        position: absolute;
                                                        top: 50%;
                                                        left: 50%;
                                                        opacity: 1;
                                                        animation: auto ease 0s
                                                            1 normal none
                                                            running none;
                                                    "
                                                >
                                                    <img
                                                        src="https://doselaka.my.canva.site/dagpyhibux4/images/8afbf76aae6ce6d1116f7f6ec0a45eea.png"
                                                        loading="lazy"
                                                        style="
                                                            width: 100%;
                                                            height: 100%;
                                                            display: block;
                                                            object-fit: cover;
                                                            object-position: 50%
                                                                50%;
                                                            transform: translate(
                                                                    -50%,
                                                                    -50%
                                                                )
                                                                rotate(0deg);
                                                        "
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="dVqJDlGfDtKX6ju1">
                        <button
                            id="zAe48RRRnK70L4yH"
                            style="
                                cursor: pointer;
                                border-radius: 15px;
                                background-color: black;
                                display: grid;
                                position: relative;
                            "
                        >
                            <div
                                id="rcPst2A2R6ydtRES"
                                style="
                                    display: grid;
                                    position: relative;
                                    grid-area: 2 / 2 / 3 / 3;
                                "
                            >
                                <div id="Y7bEZh815BMvr9sz" style="z-index: 2">
                                    <div
                                        id="XmtYbpYY0ZgSHNa0"
                                        style="
                                            box-sizing: border-box;
                                            width: 100%;
                                            height: 100%;
                                            transform: rotate(0deg);
                                        "
                                    >
                                        <svg
                                            id="vi3jqH2p3IDtFZFk"
                                            viewBox="0 0 37.9259 9.3786"
                                            preserveAspectRatio="none"
                                            style="
                                                width: 100%;
                                                height: 100%;
                                                opacity: 1;
                                                overflow: hidden;
                                                position: absolute;
                                                top: 0%;
                                                left: 0%;
                                                background: url('data:image/png;base64,');
                                            "
                                        >
                                            <g
                                                id="Am8CFCoyojxy2hiD"
                                                style="transform: scale(1, 1)"
                                            >
                                                <path
                                                    id="XnH3xUbvdSKnRIbs"
                                                    d="M1.97530729,0 L35.95061892,0 C36.47450298,0 36.97693012,0.20811213 37.3473721,0.57855411 37.71781407,0.94899608 37.92592621,1.45142322 37.92592621,1.97530729 L37.92592621,7.40332716 C37.92592621,8.49425925 37.04155101,9.37863445 35.95061892,9.37863445 L1.97530729,9.37863445 C1.45142323,9.37863445 0.94899609,9.17052232 0.57855411,8.80008034 0.20811213,8.42963837 0,7.92721123 0,7.40332716 L0,1.97530729 C0,1.45142323 0.20811213,0.94899609 0.57855411,0.57855411 0.94899609,0.20811214 1.45142322,0 1.97530729,0 Z"
                                                    style="
                                                        fill: #000000;
                                                        opacity: 1;
                                                    "
                                                ></path>
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                                <div id="xb1KqM5a1edgdzTE" style="z-index: 3">
                                    <div
                                        id="tdNxfstJIAi32xZj"
                                        style="
                                            box-sizing: border-box;
                                            width: 100%;
                                            height: 100%;
                                            transform: rotate(0deg);
                                        "
                                    >
                                        <div
                                            id="EF3zfOT58i79JO1r"
                                            style="
                                                opacity: 1;
                                                display: flex;
                                                box-sizing: border-box;
                                                flex-direction: column;
                                                justify-content: center;
                                                width: 100%;
                                                height: 100%;
                                            "
                                        >
                                            <p
                                                id="xRae2gCTcQdmGpUZ"
                                                style="
                                                    color: #ffffff;
                                                    font-family: YAEnS2G4JLg-0;
                                                    line-height: 1.29167205em;
                                                    text-align: center;
                                                    text-transform: none;
                                                    letter-spacing: 0em;
                                                "
                                            >
                                                <span
                                                    id="uPAyVGvfo6SJU5R5"
                                                    style="color: #ffffff"
                                                    >사진​ 등록</span
                                                ><br />
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div id="DuA2JoGXG6ANJz7k">
                        <form class="photo">
                            <button
                                id="dMFEK8sAgOzsisAi"
                                style="
                                    display: grid;
                                    position: relative;
                                    background-color: #f49259;
                                    border-radius: 15px;
                                    cursor: pointer;
                                    grid-area: 8 / 3 / 9 / 8;
                                "
                            >
                                <div
                                    id="PxZuVRUHuzE9l8Ac"
                                    style="
                                        display: grid;
                                        position: relative;
                                        grid-area: 2 / 2 / 3 / 3;
                                    "
                                >
                                    <div
                                        id="j8AHzzftmDI9gVxJ"
                                        style="z-index: 5"
                                    >
                                        <div
                                            id="d9b5SaWV6jdpEQkh"
                                            style="
                                                box-sizing: border-box;
                                                width: 100%;
                                                height: 100%;
                                                transform: rotate(0deg);
                                            "
                                        >
                                            <svg
                                                id="UGVV8iEgOGose7kJ"
                                                viewBox="0 0 52.4057 16.7111"
                                                preserveAspectRatio="none"
                                                style="
                                                    width: 100%;
                                                    height: 100%;
                                                    opacity: 1;
                                                    overflow: hidden;
                                                    position: absolute;
                                                    top: 0%;
                                                    left: 0%;
                                                    background: url('data:image/png;base64,');
                                                "
                                            >
                                                <g
                                                    id="WtX0b9iSwYiOXQDl"
                                                    style="
                                                        transform: scale(1, 1);
                                                    "
                                                >
                                                    <path
                                                        id="uPmtI4W2B90GdCx7"
                                                        d="M1.97530701,0 L50.43043563,0 C50.95431963,0 51.4567467,0.2081121 51.82718862,0.57855403 52.19763054,0.94899595 52.40574265,1.45142302 52.40574265,1.97530701 L52.40574265,14.73580406 C52.40574265,15.25968805 52.19763054,15.76211512 51.82718862,16.13255704 51.45674669,16.50299897 50.95431962,16.71111107 50.43043563,16.71111107 L1.97530701,16.71111107 C1.45142302,16.71111107 0.94899595,16.50299896 0.57855403,16.13255704 0.20811211,15.76211512 0,15.25968805 0,14.73580406 L0,1.97530701 C0,1.45142302 0.2081121,0.94899595 0.57855403,0.57855403 0.94899595,0.20811211 1.45142302,0 1.97530701,0 Z"
                                                        style="
                                                            fill: #ff914d;
                                                            opacity: 1;
                                                        "
                                                    ></path>
                                                </g>
                                            </svg>
                                        </div>
                                    </div>
                                    <div
                                        id="q9UtdUgE8FR0uGdf"
                                        style="z-index: 6"
                                    >
                                        <div
                                            id="gWXAvQQpWGnua8Nw"
                                            style="
                                                box-sizing: border-box;
                                                width: 100%;
                                                height: 100%;
                                                transform: rotate(0deg);
                                            "
                                        >
                                            <div
                                                id="ngvv8qjKae5vA1dm"
                                                style="
                                                    opacity: 1;
                                                    display: flex;
                                                    box-sizing: border-box;
                                                    flex-direction: column;
                                                    justify-content: center;
                                                    width: 100%;
                                                    height: 100%;
                                                "
                                            >
                                                <p
                                                    id="zqAqAU9notMUZxg0"
                                                    style="
                                                        color: #ffffff;
                                                        font-family: YAEnS2G4JLg-0;
                                                        line-height: 1.29167205em;
                                                        text-align: center;
                                                        text-transform: none;
                                                        letter-spacing: 0em;
                                                    "
                                                >
                                                    <span
                                                        id="FGtRN7ByAnxcdtiy"
                                                        style="color: #ffffff"
                                                        >결과 확인 하기!</span
                                                    ><br />
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
        <!-- 프로필 설정 모달페이지 -->
        <div class="bottom-modal-profile-portal">
            <div
                class="bottom-modal-overlay banner-container-overlay bottom-modal-overlay-after-open"
            >
                <div
                    class="bottom-modal-content bottom-modal-content-after-open"
                    tabindex="-1"
                    role="dialog"
                    aria-modal="true"
                >
                    <div class="bottom-modal-container">
                        <div class="banner-container-modal-container">
                            <!-- 닫기버튼 -->
                            <button
                                id="profile-close-button"
                                type="button"
                                aria-label="닫기"
                                class="banner-container-close-button"
                                onclick="closeImage()"
                            >
                                <svg
                                    viewbox="0 0 40 40"
                                    focusable="false"
                                    role="presentation"
                                    class="with-icon-icon"
                                    aria-hiden="true"
                                >
                                    <path
                                        d="M33.4 8L32 6.6l-12 12-12-12L6.6 8l12 12-12 12L8 33.4l12-12 12 12 1.4-1.4-12-12 12-12z"
                                    ></path>
                                </svg>
                            </button>
                            <strong class="banner-container-modal-title"
                                >뇌
                                <span class="banner-container-brmo"
                                    >MRI 등록
                                </span>
                            </strong>
                            <div class="profileimg-wrap">
                                <button
                                    type="button"
                                    id="resultProfileImg"
                                    class="profileimg"
                                >
                                    <label for="attach">
                                        <div class="image"></div>
                                    </label>
                                    <input
                                        type="file"
                                        id="attach"
                                        style="display: none"
                                    />
                                </button>
                                <p class="setting-profileimg">
                                    <button
                                        type="button"
                                        id="btn_updatePhoto"
                                        style="cursor: pointer"
                                        onclick="openFileSelector()"
                                    >
                                        <span>바꾸기</span>
                                    </button>
                                    <button
                                        type="button"
                                        id="btn_deletePhoto"
                                        style="cursor: pointer"
                                    >
                                        삭제
                                    </button>
                                </p>
                            </div>

                            <ul class="input-div2">
                                <!-- <li>
                                    <input
                                        type="text"
                                        class="input-text"
                                        maxlength="20"
                                        id="school"
                                        placeholder="학교"
                                        value=""
                                        disabled
                                    />
                                </li>
                                <li>
                                    <input
                                        type="text"
                                        class="input-text"
                                        maxlength="20"
                                        id="major"
                                        placeholder="전공"
                                        value=""
                                    />
                                </li> -->
                            </ul>
                            <h5>진료 내용을 작성해주세요.</h5>
                            <div class="textarea-wrap">
                                <input
                                    type="text"
                                    class="input-text input-text-large"
                                    maxlength="50"
                                    placeholder=""
                                    value=""
                                />
                            </div>
                            <div class="btn-bottom">
                                <ul class="btn-div2">
                                    <li>
                                        <button
                                            id="close-profile-modal-btn"
                                            type="button"
                                            class="wz button gray btn-darkgray"
                                            onclick="closeImage()"
                                            style="cursor: pointer"
                                        >
                                            취소
                                        </button>
                                    </li>
                                    <li>
                                        <button
                                            id="save-profile-modal-btn"
                                            type="button"
                                            class="wz button primary btn-mint"
                                            onclick="openModal()"
                                        >
                                            저장
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="bottom-modal-handle"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 프로필 설정 저장 눌렀을 때 나오는 모달 창 -->
        <div id="confirm-modal-container">
            <div id="confirm-modal"></div>
            <section id="alertify-o" class="alertify-o alertify-o-alert">
                <article class="alertify-o-inner">
                    <p
                        class="alertify-o-message"
                        style="font-size: 15px; padding-top: 2px"
                    >
                        프로필 설정이 성공적으로 변경되었습니다.
                    </p>
                    <nav class="alertify-o-buttons">
                        <button
                            class="alertify-o-button alertify-o-button-ok"
                            id="alertify-o-ok"
                            onclick="closeModal()"
                        >
                            확인
                        </button>
                    </nav>
                </article>
            </section>
        </div>
        
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const input = document.querySelector("#attach");
            const thumbnailImage = document.querySelector("div.image");
            const updateButton = document.querySelector("#btn_updatePhoto");
            const deleteButton = document.querySelector("#btn_deletePhoto");

            // 파일 선택 시 이미지 미리보기
            input.addEventListener("change", (e) => {
                const file = e.target.files[0];
                if (file) {
                    const reader = new FileReader();
                    reader.readAsDataURL(file);
                    reader.addEventListener("load", (e) => {
                        const path = e.target.result;
                        if (path.includes("image")) {
                            thumbnailImage.style.backgroundImage = `url(${path})`;
                            console.log("사진 등록됨");
                        } else {
                            thumbnailImage.style.backgroundImage = `url('https://static.wadiz.kr/assets/icon/profile-icon-1.png')`;
                            console.log("이미지 파일이 아닙니다.");
                        }
                    });
                }
            });

            // "바꾸기" 버튼 클릭 시 파일 선택창 열기
            updateButton.addEventListener("click", () => {
                input.click();
            });

            // "삭제" 버튼 클릭 시 기본 이미지로 변경
            deleteButton.addEventListener("click", () => {
                thumbnailImage.style.backgroundImage =
                    "url('https://static.wadiz.kr/assets/icon/profile-icon-1.png')";
                input.value = ""; // 파일 선택 해제
                console.log("사진 삭제됨");
            });
        });
    </script>
        {% endblock %}
        {% block js %}
<script src="{% static 'ai/js/alz.js' %}"></script>
        {% endblock %}
