{% extends 'manufact/base.html' %}
{% load static %}
{% block static %}
        <link rel="stylesheet" href="{% static 'ai/css/manufactResult.css' %}" />
{% endblock %}
{% block title %}제품 제조 예측 결과{% endblock %}
 {% block content %} 
        <div id="root">
            <a id="page-1" aria-hidden="true" style="visibility: hidden"></a>
            <section
                id="QgNL8JqwYPQfXEmD"
                style="
                    position: relative;
                    overflow: hidden;
                    display: grid;
                    align-items: center;
                    grid-template-columns: auto 100rem auto;
                    z-index: 0;
                "
            >
                <div
                    id="ABEPIQgfkjIuwHtg"
                    style="
                        grid-area: 1 / 1 / 2 / 4;
                        display: grid;
                        position: absolute;
                        min-height: 100%;
                        min-width: 100%;
                    "
                >
                    <div id="ifuC3f0Il58C1Gig" style="z-index: 0">
                        <div
                            id="TFD6kcfBXBwTLujV"
                            style="
                                box-sizing: border-box;
                                width: 100%;
                                height: 100%;
                                transform: rotate(0deg);
                            "
                        >
                            <div
                                id="sXt5135gQ5AMDXth"
                                style="width: 100%; height: 100%; opacity: 1"
                            >
                                <div
                                    id="t2sVKzHoEvGU5LAU"
                                    style="
                                        background-color: #ffffff;
                                        opacity: 1;
                                        transform: scale(1, 1);
                                        width: 100%;
                                        height: 100%;
                                        overflow: hidden;
                                        position: relative;
                                    "
                                >
                                    <div
                                        id="zcAwSPZtVtAHIn3y"
                                        style="
                                            width: calc(
                                                100% *
                                                    max(1, var(--scale-fill, 1))
                                            );
                                            height: calc(
                                                100.27115885% /
                                                    min(1, var(--scale-fill, 1))
                                            );
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            opacity: 1;
                                            animation: auto ease 0s 1 normal
                                                none running none;
                                        "
                                    >
                                        <img
                                            src="https://doselaka.my.canva.site/dagp-vu-2tk/images/b0d9152cc837bd07ab200508731818e9.png"
                                            alt="Bold Tech Web"
                                            loading="lazy"
                                            srcset="
                                                https://doselaka.my.canva.site/dagp-vu-2tk/images/b0d9152cc837bd07ab200508731818e9.png  683w,
                                                https://doselaka.my.canva.site/dagp-vu-2tk/images/b0d9152cc837bd07ab200508731818e9.png 1366w
                                            "
                                            sizes="(max-width: 375px) 354.85499005vw, (min-width: 375.05px) and (max-width: 480px) 282.76115947vw, (min-width: 480.05px) and (max-width: 768px) 185.27560764vw, (min-width: 768.05px) and (max-width: 1024px) 138.95670573vw, (min-width: 1024.05px) 100vw"
                                            style="
                                                width: 100%;
                                                height: 100%;
                                                display: block;
                                                object-fit: cover;
                                                object-position: 50% 50%;
                                                transform: translate(-50%, -50%)
                                                    rotate(0deg);
                                            "
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    id="Cmyg2WPUlUqaRM06"
                    style="
                        display: grid;
                        position: relative;
                        grid-area: 1 / 2 / 2 / 3;
                    "
                >
                    <div id="YxlPgbou3yRNM2Zr">
                        <button
                            id="AgKdc1sFnW1HLbIQ"
                            style="display: grid; position: relative; border-radius: 100%; border: none; cursor: pointer;"
                        >
                            <div id="pn4Y55e8VMc7AbG7" style="z-index: 6">
                                <div
                                    id="qZYO1ubxdAmbNFMd"
                                    style="
                                        padding-top: 100%;
                                        transform: rotate(0deg);
                                    "
                                >
                                    <div
                                        id="VSSAgKAGpiRIgV4s"
                                        style="
                                            position: absolute;
                                            top: 0px;
                                            left: 0px;
                                            width: 100%;
                                            height: 100%;
                                        "
                                    >
                                        <svg
                                            id="Zk76FzqzgSv37Upg"
                                            viewBox="0 0 64.0 64.0"
                                            style="
                                                width: 100%;
                                                height: 100%;
                                                opacity: 1;
                                                overflow: hidden;
                                                position: absolute;
                                                top: 0%;
                                                left: 0%;
                                                background: url('data:image/png;base64,');
                                            "
                                        >
                                            <g
                                                id="qnLW1MHcT06bt6J8"
                                                style="transform: scale(1, 1)"
                                            >
                                                <path
                                                    id="hFiD3pn6NmFUF59R"
                                                    d="M32,0 C14.32688808,0 0,14.32688808 0,32 C0,49.67311096 14.32688808,64 32,64 C49.67311096,64 64,49.67311096 64,32 C64,14.32688808 49.67311096,0 32,0 Z"
                                                    style="
                                                        fill: #ffffff;
                                                        opacity: 1;
                                                    "
                                                ></path>
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div id="V01hGMWvRU1PHVbw" style="z-index: 7">
                                <div
                                    id="MkedWHbg5hAfei6R"
                                    style="
                                        padding-top: 100%;
                                        transform: rotate(0deg);
                                    "
                                >
                                    <div
                                        id="unKylbyeZ8cb3kdJ"
                                        style="
                                            position: absolute;
                                            top: 0px;
                                            left: 0px;
                                            width: 100%;
                                            height: 100%;
                                        "
                                    >
                                        <svg
                                            id="cScYe6S8dUQJxoDp"
                                            viewBox="0 0 64.0 64.0"
                                            style="
                                                width: 100%;
                                                height: 100%;
                                                opacity: 1;
                                                overflow: hidden;
                                                position: absolute;
                                                top: 0%;
                                                left: 0%;
                                                background: url('data:image/png;base64,');
                                            "
                                        >
                                            <g
                                                id="GAppEupUXtw1cmzg"
                                                style="transform: scale(1, 1)"
                                            >
                                                <path
                                                    id="V7nBqId4QffWYZsY"
                                                    d="M0,32 L32,0 L32,16 L64,16 L64,48 L32,48 L32,64 L0,32 Z"
                                                    style="
                                                        fill: #004aad;
                                                        opacity: 1;
                                                    "
                                                ></path>
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                    <a id="Atj6DFPDYbcG8HAK" style="z-index: 11; border: none; background-color: unset; cursor: pointer;" href="{% url 'ai:manufact' %}">
                        <div
                            id="orApmI9osCx7irqU"
                            style="
                                box-sizing: border-box;
                                width: 100%;
                                height: 100%;
                                transform: rotate(0deg);
                            "
                        >
                            <div
                                id="azKfHzqjYCLbXW3q"
                                style="
                                    opacity: 1;
                                    display: flex;
                                    box-sizing: border-box;
                                    flex-direction: column;
                                    justify-content: flex-start;
                                    width: 100%;
                                    height: 100%;
                                "
                            >
                                <p
                                    id="bRS5d1j9dBPbZpch"
                                    style="
                                        color: #ffffff;
                                        font-family: YAFdJvl8raw-0;
                                        line-height: 1.37500573em;
                                        text-align: center;
                                        text-transform: uppercase;
                                        text-shadow: 0em 0.0375em 0.28125em
                                            rgba(0, 0, 0, 0.6);
                                    "
                                >
                                    <span
                                        id="sQnc3H6gISCyOBp3"
                                        style="color: #ffffff; font-weight: 700"
                                        >뒤로 가기</span
                                    ><br />
                                </p>
                            </div>
                        </div>
                    </a>
                    <div id="zRWYqHYudFQHqlh6" style="z-index: 8">
                        <div
                            id="WdzJCsvM5KEA0bZh"
                            style="
                                box-sizing: border-box;
                                width: 100%;
                                height: 100%;
                                transform: rotate(0deg);
                            "
                        >
                            <div
                                id="rzZfNq3UW92hqAmN"
                                style="
                                    opacity: 1;
                                    display: flex;
                                    box-sizing: border-box;
                                    flex-direction: column;
                                    justify-content: flex-start;
                                    width: 100%;
                                    height: 100%;
                                "
                            >
                                <p
                                    id="CUqJqL4X3baYHA8u"
                                    style="
                                        color: #ffffff;
                                        font-family: YAFdJvl8raw-0;
                                        line-height: 1.38158077em;
                                        text-align: center;
                                        text-shadow: 0em 0.0375em 0.28125em
                                            rgba(0, 0, 0, 0.6);
                                    "
                                >
                                    <span
                                        id="HiLm5pyr9fLWHoFw"
                                        style="color: #ffffff; font-weight: 700"
                                        >예측 결과</span
                                    ><br />
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="RQ7gVZ2cP8qfcXBZ" style="z-index: 9">
                        <div
                            id="pKdk0PxwRnpUPscm"
                            style="
                                box-sizing: border-box;
                                width: 100%;
                                height: 100%;
                                transform: rotate(0deg);
                            "
                        >
                            <div
                                id="flK0nsnobkgwCuGk"
                                style="
                                    opacity: 1;
                                    display: flex;
                                    box-sizing: border-box;
                                    flex-direction: column;
                                    justify-content: flex-start;
                                    width: 100%;
                                    height: 100%;
                                "
                            >
                                <p
                                    id="KcJ25S0fRloBojm8"
                                    style="
                                        color: #ffffff;
                                        font-family: YAFdJvl8raw-0;
                                        line-height: 1.35937712em;
                                        text-align: center;
                                        text-transform: uppercase;
                                        text-shadow: 0em 0.0375em 0.28125em
                                            rgba(0, 0, 0, 0.6);
                                    "
                                >
                                    <span
                                        id="GwYpEgP0pZpjacBb"
                                        style="color: #ffffff; font-weight: 700"
                                        >Choose a category</span
                                    >
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="yyc4lhhIRbuez3Fj">
                        <div
                            id="HL5l2jaB3Jo0gkfz"
                            style="display: grid; position: relative"
                        >
                            <div id="lFZLAzVW00AJ1Bkm" style="z-index: 2">
                                <div
                                    id="tXcSc3DhylBmsmkz"
                                    style="
                                        padding-top: 81.09090909%;
                                        transform: rotate(0deg);
                                    "
                                >
                                    <div
                                        id="Pq6REHld65SqfPvB"
                                        style="
                                            position: absolute;
                                            top: 0px;
                                            left: 0px;
                                            width: 100%;
                                            height: 100%;
                                        "
                                    >
                                        <div
                                            id="GfKkY4h1yFrq76l9"
                                            style="
                                                width: 100%;
                                                height: 100%;
                                                opacity: 1;
                                            "
                                        >
                                            <div
                                                id="CbRjDXPwARYpYRuT"
                                                style="
                                                    transform: scale(1, 1);
                                                    width: 100%;
                                                    height: 100%;
                                                    overflow: hidden;
                                                    position: relative;
                                                "
                                            >
                                                <div
                                                    id="cmkprrgWgRI9SgFj"
                                                    style="
                                                        width: calc(
                                                            100% *
                                                                max(
                                                                    1,
                                                                    var(
                                                                        --scale-fill,
                                                                        1
                                                                    )
                                                                )
                                                        );
                                                        height: calc(
                                                            100% /
                                                                min(
                                                                    1,
                                                                    var(
                                                                        --scale-fill,
                                                                        1
                                                                    )
                                                                )
                                                        );
                                                        position: absolute;
                                                        top: 50%;
                                                        left: 50%;
                                                        opacity: 1;
                                                        animation: auto ease 0s
                                                            1 normal none
                                                            running none;
                                                    "
                                                >
                                                    <img
                                                        src="	https://doselaka.my.canva.site/dagp-vu-2tk/images/82c72e8643060dab3aaea1efd07ee82c.svg"
                                                        alt="Desktop Computer Multiply Line   Style Icon"
                                                        loading="lazy"
                                                        style="
                                                            width: 100%;
                                                            height: 100%;
                                                            display: block;
                                                            object-fit: cover;
                                                            object-position: 50%
                                                                50%;
                                                            transform: translate(
                                                                    -50%,
                                                                    -50%
                                                                )
                                                                rotate(0deg);
                                                        "
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="pzI9DkjkAYPfmmZ5" style="z-index: 3">
                                <div
                                    id="HmE6YCSCxKnTUPnY"
                                    style="
                                        box-sizing: border-box;
                                        width: 100%;
                                        height: 100%;
                                        transform: rotate(0deg);
                                    "
                                >
                                    <div
                                        id="vPo80oRRost4LTgk"
                                        style="
                                            opacity: 1;
                                            display: flex;
                                            box-sizing: border-box;
                                            flex-direction: column;
                                            justify-content: flex-start;
                                            width: 100%;
                                            height: 100%;
                                        "
                                    >
                                        <p
                                            id="WTbJttCHtzZtknxh"
                                            style="
                                                color: #ffffff;
                                                direction: ltr;
                                                font-family: YAFdJvl8raw-0;
                                                margin-left: 0em;
                                                line-height: 1.18524988em;
                                                text-align: center;
                                                text-transform: none;
                                                letter-spacing: 0em;
                                            "
                                        >
                                            <span
                                                id="XbJTJsXNZUwrm1jk"
                                                style="color: #ffffff"
                                                >Qu​ality Rating</span
                                            ><br />
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input id="SFbyXXHQXMzaJ2Mn" style="z-index: 4; border-radius: 35px;" readonly="readonly" type="number" value="{{ quality_score }}">
                        <!-- <div
                            id="eb1Sz8LRi9Uw5Mnt"
                            style="
                                padding-top: 21.60502509%;
                                transform: rotate(0deg);
                            "
                        >
                            <div
                                id="d6gGF7rNihsfRSkb"
                                style="
                                    position: absolute;
                                    top: 0px;
                                    left: 0px;
                                    width: 100%;
                                    height: 100%;
                                "
                            >
                                <svg
                                    id="AQcQwC0bNXmtjcCE"
                                    viewBox="0 0 64.0 13.8272"
                                    style="
                                        width: 100%;
                                        height: 100%;
                                        opacity: 1;
                                        overflow: hidden;
                                        position: absolute;
                                        top: 0%;
                                        left: 0%;
                                        background: url('data:image/png;base64,');
                                    "
                                >
                                    <g
                                        id="EWFXEOIvmobjm0g4"
                                        style="transform: scale(1, 1)"
                                    >
                                        <path
                                            id="Z6pTydcf6HNhBIGt"
                                            d="M6.91360807,0 L57.08639193,0 C58.91999479,0 60.67849806,0.7283959 61.97505108,2.02494892 63.2716041,3.32150194 64,5.0800052 64,6.91360807 L64,6.91360807 C64,8.74721094 63.2716041,10.50571421 61.97505108,11.80226723 60.67849806,13.09882025 58.9199948,13.82721615 57.08639193,13.82721615 L6.91360807,13.82721615 C5.08000521,13.82721615 3.32150194,13.09882025 2.02494892,11.80226723 0.7283959,10.5057142 0,8.74721094 0,6.91360807 L0,6.91360807 C0,5.08000521 0.7283959,3.32150194 2.02494892,2.02494892 3.32150194,0.7283959 5.0800052,0 6.91360807,0 Z"
                                            style="fill: #ffffff; opacity: 1"
                                        ></path>
                                    </g>
                                </svg>
                            </div>
                        </div> -->
                    </input>
                    <input id="MIHgln41yXCN2rjE" style="z-index: 5; border-radius: 35px;" readonly="readonly"  value="품질평가 :  {{ score }}">
                        <div
                            id="APMW6j2IbA2Vpo6b"
                            style="
                                padding-top: 22.27222219%;
                                transform: rotate(0deg);
                            "
                        >
                            <!-- <div
                                id="v0OwUcmY8PuktiVs"
                                style="
                                    position: absolute;
                                    top: 0px;
                                    left: 0px;
                                    width: 100%;
                                    height: 100%;
                                "
                            >
                                <svg
                                    id="A503jc9FAQkMGvYD"
                                    viewBox="0 0 64.0 14.2542"
                                    style="
                                        width: 100%;
                                        height: 100%;
                                        opacity: 1;
                                        overflow: hidden;
                                        position: absolute;
                                        top: 0%;
                                        left: 0%;
                                        background: url('data:image/png;base64,');
                                    "
                                >
                                    <g
                                        id="ZcIj3maCWfMgIloi"
                                        style="transform: scale(1, 1)"
                                    >
                                        <path
                                            id="NC7aIR8SQokBd5A5"
                                            d="M7.12711096,0 L56.87288904,0 C60.80908373,0 64,3.19091627 64,7.12711096 L64,7.12711096 C64,9.01733831 63.24911011,10.83014687 61.91251753,12.16673945 60.57592495,13.50333203 58.76311639,14.25422192 56.87288904,14.25422192 L7.12711096,14.25422192 C3.19091627,14.25422192 0,11.06330565 0,7.12711096 L0,7.12711096 C0,3.19091627 3.19091627,0 7.12711096,0 Z"
                                            style="fill: #ffffff; opacity: 1"
                                        ></path>
                                    </g>
                                </svg>
                            </div> -->
                        </div>
                    </input>
                    <div id="pVJuZ5mfC3mb5qqX" style="z-index: 10">
                        <div
                            id="EJa4GopN2ITmxKVb"
                            style="
                                box-sizing: border-box;
                                width: 100%;
                                height: 100%;
                                transform: rotate(0deg);
                            "
                        >
                            <div
                                id="d8TdxkTPaj4UgWSo"
                                style="
                                    opacity: 1;
                                    display: flex;
                                    box-sizing: border-box;
                                    flex-direction: column;
                                    justify-content: flex-start;
                                    width: 100%;
                                    height: 100%;
                                "
                            >
                                <p
                                    id="G8u2dTHiRkfiuiS4"
                                    style="
                                        color: #ffffff;
                                        font-family: YAEnS2G4JLg-0;
                                        line-height: 1.29167205em;
                                        text-align: center;
                                        text-transform: none;
                                        letter-spacing: 0em;
                                    "
                                >
                                    <span
                                        id="WXkacSmHhnVmckBA"
                                        style="color: #ffffff"
                                        >점</span
                                    ><br />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <script
                src="js/939898b427480d700449229ff00dbb8a6f9f77442b532f697866e6914ab8843a.js"
                async=""
                nonce=""
            ></script>
        </div>
{% endblock %}
